@import 'variables';

.Activity {
  .card {
    background-color: $theme-backgroundcolor;
    color: $theme-fontcolor;
    border-radius: 0px;
  
    .img-container {
      height: 200px;
      overflow: hidden;
    }

    img {
      width: 100%;
    }

    .card-block {
      position: relative;

      .title {
        font-size: 22px;
      }

      .reward {
        position: absolute;
        top: 0%;
        right: 20px;
        background-color: $theme-fontcolor;
        color: $theme-backgroundcolor;
        padding: 20px;
        font-size: 20px;
        border-radius: 100%;
      }
    }
  }
}
