@import 'variables';

.ActivityRow {
  padding: 20px;
  background-color: $theme-backgroundcolor;
  color: $theme-fontcolor;

  margin-bottom: 2px;

  .reward {
    padding: 5px;
    float: right;

    background-color: $theme-fontcolor;
    color: $theme-backgroundcolor;

    p {
      margin-left: 0px;
    }
  }

  .title {
    font-size: 18px;
  }

  p {
    margin: 0px;
    margin-left: 5px;
    float: left;
  }
}
