@import 'variables';

footer {
  background-color: $theme-backgroundcolor;
  color: $theme-fontcolor;
  border-top: 2px solid rgba(0, 0, 0, 0.1);

  padding: 20px;
  padding-top: 40px;

  .footer__general {
    margin-bottom: 20px;
  }

  .footer__column {
    margin-bottom: 30px;

    .title {
      font-size: 20px;
    }

    input, textarea, button {
      margin-top: 5px;
    }

    .contact__section {
      margin-top: 5px;
      margin-bottom: 15px;
    }
  }
}
