@import 'variables';

.jumbotron {
  border-radius: 0px;

  &--imagewithtitle {
    padding-bottom: 1rem;
    padding-top: 14rem;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;

    .title {
      color: $theme-fontcolor;
    }
  }

  &--video {
    padding: 0px;
    overflow: hidden;
    position: relative;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;

    .sharp {
      border-radius: 0px;
      cursor: default;
      border: 0px;
    }

    .sharp:hover, .sharp:active {
      border: 0px;
      background-color: darken($theme-backgroundcolor, 15%);
    }

    .jumbotron__video {
      position: absolute;
      left: 0px;
      bottom: 0px;
      width: 100%;
      height: auto;
      bottom: 0px;
      z-index: 0;
      opacity: 0.5;
    }

    .jumbotron__title {
      position: relative;
      z-index: 1;
      color: white;
      text-align: center;
        padding-top: 50px;
        padding-bottom: 50px;

      .title {
        font-size: 8vw;
      }

      hr {
        background-color: white;
        width: 40%;
      }
    }
  }
}
