@import 'variables';

.navbar {
  background-color: $theme-backgroundcolor;

  border-bottom: 2px solid rgba(0, 0, 0, 0.1);

  .navbar-brand, .navbar-toggler, .nav-link {
    color: $theme-fontcolor;
  }
}
