@import 'variables';

.ThreeColumns {
  margin-top: 15px;
  margin-bottom: 15px;

  &__items {
    .item {
      text-align: center;

      &__icon {
        margin-bottom: 11px;

        i, span {
          padding: 20px;
          font-size: 20px;
          background-color: $theme-backgroundcolor;
          color: $theme-fontcolor;
          border-radius: 100%;
        }
      }

      &__title {
        font-size: 22px;
      }
    }
  }
}
