@import 'variables';

.Activity-Page {
  .img-container {
    background-size: cover;
    background-position: bottom center;
    background-attachment: fixed;
    height: 50vh;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.5);
  }

  .content {
    margin-top: 20px;
    margin-bottom: 20px;

    iframe {
      width: 100%;
      border: 0px;
    }

    .details {
      button {
        margin-bottom: 10px;
      }

      div {
        margin-bottom: 10px;
      }
    }

    .title {
      font-size: 30px;
    }

    .date {

    }

    .description {

    }

    .reward {

    }
  }
}
