.Login {
  .title {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  button {
    margin-right: 10px;
    margin-bottom: 5px;
  }

  .advantages {
    text-align: center;

    h4 {
      margin-bottom: 20px;
    }
  }

  .col-sm-6 {
    text-align: center;
  }
}
