@font-face {
  font-family: 'OpenSans-Regular';
  src: url('./fonts/OpenSans-Regular.ttf');
}

@import 'components/Common/components/ThreeColumns';
@import 'components/Common/components/Footer';
@import 'components/Common/components/Activity';
@import 'components/Common/components/ActivityRow';
@import 'components/Common/components/Activities';
@import 'components/Common/components/ActivitiesRows';
@import 'components/Common/components/Jumbotron';
@import 'components/Common/components/Navbar';
@import 'components/Home/App';
@import 'components/Login/App';
@import 'components/Activity/App';
@import 'components/ActivityNew/App';
@import 'variables';

body {
  font-family: $theme-font;
}

body {
  padding-top: 54px;
}

hr.small {
  width: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.row-nomargin {
  margin-left: 0px;
  margin-right: 0px;
}

.no-padding {
  padding: 0px !important;
}

h1 {
  font-weight: normal;
}

h2 {
  font-weight: normal;
}

h3 {
  font-weight: normal;
}

h4 {
  font-weight: normal;
}

.btn-success {
  background-color: darken($theme-backgroundcolor, 15%);
}

.btn-success:hover {
  background-color: darken($theme-backgroundcolor, 20%);
}

a:hover {
  text-decoration: none;
}
